/* ********************* Contains the CSS for the Home Component ********************* */

.home-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}