/* ********************* Contains the CSS for the Web Front View Component ********************* */

.web-front-view-container {
  width: 650px;
  height: 300px;
  border-radius: 10px;
  /* opacity: 0.75; */
  /* filter: drop-shadow(0 0 5px #c9c8c8); */
  background-color: white;
  /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); */
}

.web-front-view-primary-bg {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* background-color: #22a807; */
  background: conic-gradient(from 45deg at 60% 50%, #3db615, #FFFFFF);
}



/* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */

.web-front-view-bg-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* z-index: 1; */
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 650px;
  height: 300px;
}

.web-front-view-logo-part {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  /* background-color: #075aa8;
  width: 100%;
  height: 100%; */
  /* opacity: 0.75; */
  /* background-color: white; */
  /* backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%); */
}

.web-front-view-details-part {
  /* content: ""; */
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 10px; */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  background-color: #22a807;
  background: conic-gradient(from 45deg at 60% 50%, #3db615, #FFFFFF);
}

/* .web-front-view-logo-part::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 10px 0 0 10px;
    height: 100%;
    background: linear-gradient(red, blue);
    clip-path: circle(25% at 12% 15%);
} */

/* .web-front-view-logo-part::after {
     backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
} */