/* ********************* Contains the CSS for the Web View Card Component ********************* */

.web-view-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../../assets/images/svg/blob-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px 650px;
}
